<div class="row">
  <h1>Bienvenido a este Portafolio</h1>
</div>
<div class="row">
  <p>Aqui podras encontrar algunos proyectos desarrollados en Ruby y otros aplicando MVC con Rails!</p>
  <figure>
    <%= image_tag "ROR_Logo.png", alt: "Logo_Rails" %>
  </figure>
</div>
<div class="container text-center mt-4">
  <div class="row">
    <div class="col-6">
      <div class="card" ">
        <div class="card-header">
          Proyectos
        </div>
        <%= link_to(home_projects_path) do %>
          <%= image_tag("Proyectos.png", alt: "Proyectos", class:"img_resize") %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="card" ">
        <div class="card-header">
          Contacto
        </div>
        <%= link_to(home_contact_path) do %>
          <%= image_tag("Contacto.png", alt: "Contacto", class:"img_resize") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
