<div class="container text-center">
  <div class="row">
    <div class="col pb-2">
      <div class="card mx-auto d-block py-3" style="width: 18rem;">
        <%= image_tag("proyectos/PiedraTijeraPapel.png", alt: "Proyecto Piedra-Papel-Tijera", class:"mx-auto d-block img_resize_proyectos") %>
        <div class="card-body">
          <h5 class="card-title">Proyecto Piedra-Papel-Tijera</h5>
          <p class="card-text">Popular juego creado en base a ruby para ejecutar desde consola con un argumento inicial</p>
          <%= button_to "Ir al Proyecto", "https://github.com/JuanGonzalezJara/PiedraPapelTijera", target: "_blank", class:"btn btn-secondary rounded_button", method: :get%>
        </div>
      </div>
    </div>
    <div class="col pb-2">
      <div class="card mx-auto d-block py-3" style="width: 18rem;">
        <%= image_tag("proyectos/TripleProyecto.png", alt: "Proyecto Triple", class:"mx-auto d-block img_resize_proyectos") %>
        <div class="card-body">
          <h5 class="card-title">Proyecto Triple</h5>
          <p class="card-text">Desafio orientado al uso de Metodos para la resolucion de requerimientos</p>
          <%= button_to "Ir al Proyecto", "https://github.com/JuanGonzalezJara/Desafio_RoR_Unidad4_M3_3", target: "_blank", class:"btn btn-secondary rounded_button", method: :get%>
        </div>
      </div>
    </div>
    <div class="col pb-2">
      <div class="card mx-auto d-block py-3" style="width: 18rem;">
        <%= image_tag("proyectos/Ciclos.png", alt: "Proyecto Ciclos", class:"mx-auto d-block img_resize_proyectos") %>
        <div class="card-body">
          <h5 class="card-title">Proyecto Ciclos en Ruby</h5>
          <p class="card-text">Desafio orientado al uso de Cliclos While o For para la resolucion de requerimientos.</p>
          <%= button_to "Ir al Proyecto", "https://github.com/JuanGonzalezJara/Desafio_RoR_Unidad4_M3_2", target: "_blank", class:"btn btn-secondary rounded_button", method: :get%>
        </div>
      </div>
    </div>
  </div>
</div>
